#!/usr/bin/python3
from operator import truediv
import sys

err_msg = "oops... something went wrong with your commit message"

def main():
    with open(sys.argv[1],"r") as filePointer:
        lines = filePointer.readlines()
        for idx, line in enumerate(lines):
            if line.strip() == "# ------------------------ >8 ------------------------":
                break
            if line[0] == "#":
                continue

            if not line_valid(idx,line):
                print(err_msg)
                sys.exit(1)

    sys.exit(0)

def line_valid(idx,line):
    """
    Implement the validation logic inside this function.
        args:
            idx: line index
            line: line content
        return:
            this function expect a True/False return
    """
    return True

if __name__ == "__main__":
    main()